*{
	padding: 0;
	margin: 0;
}

body{
	background-color: #1a1c21;
	color: white;
}
.switch{
	background-color: black;
	color: white;
}
.button{
	background-color: #1a1c21;
	color: white;
	font-size: 11pt;
	float: right;
	padding: 7px 5px 8px 4px;
	border: 0;
}
.button:hover{
	background-color: #00faac;
}

.title{
	background-color: black;
}

}
 .header{
 	height: 20%;
 }

.stripline{
	height: 3px;
	background-color: #00faac;
}
.nav{
	background-color: #1a1c21;
	height: 10%;
	width: 100%;
  	margin: 0;
  	font-size: 20pt;
  	font-family: Arial;
  	text-decoration: none;
  	/*padding: 2px 2px 2px 2px;*/
  	color: #fff;
}
.nav a{
	
	padding-right: 25px;
	padding-left: 25px;
}

.tablink{
	text-decoration: none;
	color: #e0fffb;
	font-size: 15pt;);
}
.container{
	height: 450px;
	padding: 40px;
	width: 600px;
}
.container h2{
	font-size: 32pt;
	font-family: Arial;
}
.container p {
	font-family: Arial;
	font-size: 12pt;

}

.strip{
	width: 1px;
}

.tablink:hover{
	color: #559e97;
	text-shadowalign: center;
	border-bottom: 2px solid #345955;
}

.svg-wrap{
	width: 350px;
	height: 70px;padding: 5px;
}
.box{
	stroke-dasharray: 100 800;
	stroke-dashoffset: -670;
	stroke: #ff0000;
	stroke-width: 10px;
	transition: all ease-in-out 1.5s;
}
.text{
	position: relative;
	top: -60px;
	letter-spacing: 3px;
	text-decoration: none;
	color: silver	;
}
.text-hover{
	transition: all ease-in-out 1.5s;
}
.svg-wrap:hover .box{
	stroke-dashoffset: 0;
	stroke-dasharray: 1000;
	stroke-width: 7px;
	stroke: #00faac;
}
.svg-wrap:hover .text-hover{
	margin-left: 15px;
}

